@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-weight: 500;
  src: url(/fonts/Jost-Medium.ttf);
}

@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-weight: 400;
  src: url(/fonts/Jost-Regular.ttf);
}
