---
import DefaultSitelayout from '@layouts/DefaultSiteLayout.astro'
import ContactCTA from '@components/widgets/contact-cta/ContactCTA.astro'
---

<DefaultSitelayout>
  <h1>About Page</h1>
  <ContactCTA slot="main-content" />
</DefaultSitelayout>
