---
import DefaultSitelayout from '@layouts/DefaultSiteLayout.astro'
import MainPageHero from '@components/hero/main-page-hero/MainHero.astro'
import SimpleCard from '@components/cards/simple-card/SimpleCard.astro'
import { contentQualities } from '@content/mainPage'
import ContactCTA from '@components/widgets/contact-cta/ContactCTA.astro'
import ServicesGrid from '@components/widgets/services-grid/ServicesGrid.astro'
---

<DefaultSitelayout>
  <MainPageHero slot="header" />
  <ServicesGrid slot="main-content" />
  <ul class="simple-card-list" slot="main-content">
    {
      contentQualities.map(({ cardHeading, cardText, imgSrc, imgAltText }) => (
        <li>
          <SimpleCard
            cardHeading={cardHeading}
            cardText={cardText}
            imageAltText={imgAltText}
            imageSrc={imgSrc}
          />
        </li>
      ))
    }
  </ul>

  <ContactCTA slot="main-content" />
</DefaultSitelayout>

<style>
  .simple-card-list {
    display: flex;
    gap: 1.875rem;
  }
  .simple-card-list > li {
    flex-basis: 21.875rem;
  }
</style>
