footer {
  background-color: var(--black);
  padding: 9rem 0 5rem;
}

footer .content-ctn {
  margin: auto;
  max-width: var(--page-container-size);
}

.content-ctn nav {
  align-items: center;
  border-bottom: 1px solid hsl(var(--white), 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2.5rem;
}

.content-ctn nav a {
  color: hsl(var(--white));
}

nav img {
  width: 12.5rem;
  object-fit: contain;
}

.lower-footer-ctn {
  display: flex;
  justify-content: space-between;
}

.lower-footer-ctn h2 {
  color: hsl(var(--white), 0.5);
  font-size: 1rem;
  letter-spacing: 0;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

address,
tel,
.footer-email {
  color: hsl(var(--white), 0.5);
  line-height: 1.6;
}

.lower-footer-ctn ul {
  display: flex;
  gap: 1rem;
}

.footer-icon-list {
  margin-top: auto;
}

.footer-icon-list img {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 70rem) {
  footer .content-ctn {
    margin: var(--tablet-page-margin);
  }
}

@media screen and (max-width: 40rem) {
  .content-ctn .footer-nav {
    flex-direction: column;
    margin-top: 4rem;
  }

  .content-ctn .footer-nav > a {
    margin-bottom: 2rem;
  }

  .content-ctn nav .nav-links {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  .lower-footer-ctn {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lower-footer-ctn > * + * {
    margin-top: 1.2rem;
  }

  .footer-icon-list {
    margin-top: 2rem;
  }
}
