<ul class="nav-links">
  <li>
    <a href="/about">our company</a>
  </li>
  <li>
    <a href="/locations">locations</a>
  </li>
  <li>
    <a href="/contact">contact</a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    gap: 2.6rem;
  }

  ul li a {
    text-transform: uppercase;
  }
</style>
