---
import Logo from '@images/shared/desktop/logo-dark.png'
import NavLinks from '../nav-links/NavLinks.astro'
---

<nav>
  <a href="/">
    <img src={Logo.src} alt="Site logo" />
  </a>
  <NavLinks />
</nav>

<style>
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: var(--page-container-size);
  }

  nav img {
    aspect-ratio: 16/9;
    width: 12.5rem;
    object-fit: contain;
  }

  nav ul {
    display: flex;
    gap: 2.6rem;
  }

  nav ul li a {
    text-transform: uppercase;
  }
</style>
