header {
  background-color: var(--peach);
  background-image: url('../../../images/home/desktop/bg-pattern-hero-home.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  height: 40rem;
  margin-bottom: 10rem;
  padding: 9rem 31rem 0 6rem;
  position: relative;
}

.header-text-ctn {
  color: white;
}

.header-text-ctn p {
  margin-block: 1.5rem 2.5rem;
}

.main-hero-abso-image {
  height: auto;
  object-fit: contain;
  position: absolute;
  right: 5%;
  top: 3%;
  width: 27.4rem;
}

@media screen and (max-width: 68rem) {
  header {
    padding: 9rem 27rem 0 2rem;
    background-position: top 60% left 100px;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 56rem) {
  header {
    padding: 3.75rem 3.75rem 0;
    height: auto;
  }

  .header-text-ctn {
    text-align: center;
  }

  .main-hero-abso-image {
    margin: 4.5rem auto 0;
    position: unset;
    width: 17.5rem;
  }
}
